html {
    height: 100vh;
    background-color: black;
}

body {
    margin: 0;
    height: calc(100vh - 14px);
    background-color: #3c4963;
    border: 7px solid black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 3s linear;
}

.screen {
    width: 100%;
    height: 700px;
    /* max-height: 700px; */

    /* animation: PulseAll 3s forwards; */
    
    display: grid;
    justify-items: center;
    align-content: center;
    
    grid-template-rows: 10% 12% 52% 23%;
    grid-template-columns: 10% 90%;

    grid-template-areas: 
        "tel tel"
        "msg msg"
        "word word"
        "keyb keyb";
}

/* @keyframes PulseAll {
    100% {
        box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.6);
    }
} */