html {
    height: 100vh;
    background-color: black;
}

body {
    margin: 0;
    height: calc(100vh - 14px);
    background-color: #3c4963;
    border: 7px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.screen {
    width: 100%;
    height: 700px;
    /* max-height: 700px; */


    display: grid;
    justify-items: center;
    align-content: center;

    grid-template-rows: 10% 12% 52% 23%;
}
