
.keyboard {
    grid-area: keyb;
    margin-top: 20px;
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 100px;
    row-gap: 7px;


    & div {
        display: flex;
        justify-content: center;
    }
}

.key {
    padding-top: 5px;
    font-family: 'Josefin Sans', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 32px;
    margin-inline: 4px;
    outline: 3px solid black;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #4a5879;
    cursor: pointer;
    user-select: none;
}
.key:hover {
    background-color: #5c6d96;
}
.key:active {
    align-self: self-end;
    border-bottom-width: 0px;
}

.del {
    height: 37px;
    padding-top: 0px;
    & img {
        width: 33px;
    }
}
.enter {
    height: 37px;
    padding-top: 0px;
    width: 70px;
    & img {
        width: 33px;
    }
}

.no-have {
    background-color: gray;
    align-self: self-end;
    border-bottom-width: 0px;
    opacity: 0.5;
    animation: RevealLetter 500ms forwards;
    &:hover {
        background-color: darkgray;
    }
}
.have {
    background-color: #dca65a;
    animation: RevealLetter 500ms forwards;
    &:hover {
        background-color: #edb855;
    }
}
.correct {
    background-color: #78d48f;
    animation: RevealLetter 500ms forwards;
    &:hover {
        background-color: #86eb9f;
    }
}