
.message {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-self: top;

    height: 90%;
    justify-content: space-between;
    transition: opacity 500ms linear;
}

.message span {
    font-family: 'Pacifico', system-ui;
    font-size: 25px;
    user-select: none;
}

.message button {
    width: 50px;
    height: 30px;
    font-size: 15px;
    font-family: 'Pacifico', system-ui;
    
    background-color: #66b766;
    border: 0;
    border-bottom: 3px solid #457b45;
    border-radius: 5px;
    outline: 3px solid black;
    
    cursor: pointer;
    user-select: none;
    
    &:hover {
        background-color: #77d377;
        border-bottom-color: #5aa05a;
    }
    &:active {
        height: 27px;
        border-bottom-width: 0px;
    }
}

.hidden {
    visibility: hidden;
}
.transparent {
    opacity: 0;
}

