
@media (max-width: 60vh) {
    body {
        border: none;
        border-radius: 0;
    }
    .screen {
        width: 100vw;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 3fr 2fr;
        align-items: center;
        overflow-x: hidden;
    }
    .words {
        align-self: end;
    }
    .keyboard {
        width: 100%;
        scale: 1.05;
        margin-bottom: 140px;
        display: grid;
        justify-items: center;

        & div {
            width: calc(100% - 20px);
        }
        & #r2 {
            width: calc(100% - 100px);
        }
        & .key {
            font-weight: 900;
        }
        & .key.enter {
            width: calc(100% + 140px);
        }
        & .key.del img {
            width: 30px;
        }
    }
    .tel {
        scale: 1.5;
    }
    .message {
        scale: 1.2;
        height: 75px;
        align-self: end;
        margin: 30px;
    }
    .message button {
        scale: 1.3;
    }
}